// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index +
            str-length($search)), $search, $replace);
  }

  @return $string;
}

$primary: #000050;
$secondary: #8E9BA5;
$success: #278225;
$info: #BBDCF4;
$warning: #E8AF1D;
$danger: #EF0909;
$dark: #49535A;
// $light: ;
$white: #fff;

$theme-colors: (
  "primary": #000050,
  "secondary": #8E9BA5,
  "success": #278225,
  "info": #BBDCF4,
  "warning": #E8AF1D,
  "danger": #EF0909,
  "dark": #49535A,
);

$border-color: #99A5AE !default;
$custom-select-border-color: #99A5AE !default;
$body-color: var(--primary) !default;
$input-focus-border-color: $custom-select-border-color !default;
$custom-file-border-color: $border-color;

$font-family-base: "Montserrat" !default;
$custom-control-indicator-border-width: 2px !default;
$custom-control-indicator-border-color: #99A5AE !default;
$custom-radio-indicator-icon-checked-color: $white;
$custom-radio-indicator-border-radius: 0 !default;

$input-border-width: 3px !default;

$enable-rounded: false;
